package {{ .MixinName }}

import (
    "get.porter.sh/porter/pkg/porter/version"
)

// These values can be overridden via ldflags
var (
    // Version is the mixin version
    Version = "0.1.0"
    // Commit is the git commit
    Commit = "unknown"
    // Author is the name of the author
    Author = "{{ .AuthorName }}"
)

// PrintVersion prints the version of the mixin
func (m *Mixin) PrintVersion(opts version.Options) error {
    metadata := map[string]string{
        "version": Version,
        "commit":  Commit,
        "author":  Author,
    }
    return version.PrintVersion(m.Context, opts, metadata)
}