//go:build tools

// Package tools tracks dependencies for tools that are required to build or test the project.
// See https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module
package tools

import (
	_ "github.com/golangci/golangci-lint/cmd/golangci-lint" // Linter
	_ "github.com/magefile/mage"                             // Mage build tool
	_ "github.com/goreleaser/goreleaser"                     // Release tool
	_ "github.com/sigstore/cosign/v2/cmd/cosign"             // Signing tool
	_ "golang.org/x/vuln/cmd/govulncheck"                    // Vulnerability scanner
	_ "github.com/securego/gosec/v2/cmd/gosec"               // Security scanner

	// Add other tool dependencies here if needed
)
