package main

import (
	"{{ .ModulePath }}/pkg/skeletor" // Use ModulePath variable
	"github.com/spf13/cobra"
)

func buildSchemaCommand(m *skeletor.Mixin) *cobra.Command {
	cmd := &cobra.Command{
		Use:   "schema",
		Short: "Print the json schema for the mixin",
		Run: func(cmd *cobra.Command, args []string) {
			m.PrintSchema()
		},
	}
	return cmd
}
